<DOCTYPE HTML>
    <html lang="vi">
    <head lang="vi">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <meta charset="utf-8" />
        <title>Xác Nhận Đơn Hàng</title>
        <link href="~/Content/StyleSheet2.css" rel="stylesheet" />
        
    </head>

    <body>
        <div>
            @RenderBody()
        </div>

        <div class="Cart">
            <div class="Container-top-bar">
                <div class="top-bar">
                    <div style="align-content: center;">
                        <input type="checkbox" id="checkall">
                        <label for="checkall">chọn tất cả</label>
                    </div>
                    <div></div>
                    <p style="padding-left: 50px;">số lượng</p>
                    <p>thành tiền</p>
                </div>
                <div class="produce">
                    <div>
                        <img src="https://cdn1.fahasa.com/media/catalog/product//z/6/z6923363964831_c6d0801298a97c228cf13c4609936b6a-1_1.jpg">
                    </div>
                    <div>
                        <p>Tủ Sách Thanh Niên - Mãi Mãi Tuổi Hai Mươi - Nhật Ký Thời Chiến Việt Nam - Bìa Cứng - Độc Quyền Fahasa</p>
                        <b>114.500 đ</b>
                    </div>
                    <div class="Count">
                        <button class="up">+</button>
                        <input style="text-align: center;" type="number" value="1" min="1" max="99">
                        <button class="down">-</button>
                    </div>
                    <div class="price">
                        <b>114.500 đ</b>
                    </div>
                </div>
            </div>
            <div class="paid">
                <div class="Voucher">
                    <span><i class="fa-solid fa-ticket fa-2x text-danger"></i>KHUYẾN MÃI</span>
                    <p>Xem Thêm</p>
                </div>
                <div class="Voucher">
                    <span>1 Khuyến Mãi Đủ Điều Kiện</span>
                    <button><span>></span></button>
                </div>
                <div class="Voucher">
                    <p>Thành Tiền</p>
                    <p>114.500đ</p>
                </div>
                <div class="Voucher">
                    <p>Tổng Số Tiền (gồm VAT)</p>
                    <span>114.500đ</span>
                </div>
                <div class="btnPaid">
                    <button>Thanh Toán</button>
                </div>
            </div>
        </div>
        </div>

    </body>
</html>
